/*===========Шапка сайта====================*/
.title
{
    font-family: Oswald;
    font-size: 18px;
}
    span
    {
        color: white;
        background-color: #0096d6;
    }
.search_tbox
{
    margin-top: 20px;
    border-radius: 5px;
}
.search_bt
{
    margin-top: 20px;
    height: 34px;
    width: 100%;
    font-family: Oswald;
    background-color: #393a3d;
    border: none;
    color: white;
}
.search_bt:hover
{
    background-color: cadetblue;
    color: white;
    
      -webkit-transition: all 0.5s ease;;
      -moz-transition: all 0.5s ease;;
      -o-transition: all 0.5s ease;;
      transition: all 0.5s ease;
}
.time-date
{
    font-family: Oswald;
    font-size: 22px;
    text-align: right;
}
.time-date #timedate
{
    margin-top: 20px;
    margin-bottom: 0px;
}

input.text
{
    width: 100%;
    padding: 5px 10px;
    font-family: Oswald Light;
}

#timedate
{
    font-family: Oswald Light;
}

/*===========Шапка сайта====================*/




/*/===========Навигация по сайту============*/
nav
{
    background-color: #393a3d;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
ul.list-inline a
    {
        background-color: #393a3d;
        display: inline-block;
        font-family: Oswald;
        text-transform: uppercase;
        padding: 15px 40px;
        color: #fff;
        font-size: 16px;
    }

ul.list-inline
    {
        margin-bottom: 0;
    }
ul.list-inline a:hover, a:focus, a:active /*Наведение на кнопку навигации*/
{
    text-decoration: none;
    color: whitesmoke;
    background-color: #db0048;
        
      -webkit-transition: all 0.5s ease;;
      -moz-transition: all 0.5s ease;;
      -o-transition: all 0.5s ease;;
      transition: all 0.5s ease;
}
/*===========Навигация по сайту============*/






/*===========Главная страница MAIN.html*==============*/
.present_weather
{
    border: 1px solid black;
    height: 150px;
    background-color: brown;
    margin-top: 15px;
}

.weather_list
{
    margin-top: 15px;
}
#map
{
    height: 250px;
    width: 100%;
    border: 1px solid black;
    margin-top: 15px;
}

footer
{
    background-color: #393a3d;
    height: 52px;
    position: fixed;
    left: 0; bottom: 0; 
    width: 100%; 
}
footer h3
{
    color: aliceblue;
}
/*===========Главная страница MAIN.html*==============*/




/*===========Страница ABOUT.html==============*/
.about
{
    width: 100%;
    height: 350px;
    margin-top: 15px;
}

.about p
{
    padding: 10px 10px;
    font-family: Oswald;
    font-size: 18px;
}

.about span
{
    border: none;
    background-color: black;
}

/*===========Страница ABOUT.html==============*/



/*===========Страница FEEDBACK.HTML==============*/
.feedbacktext
{
    height: 100%;
    margin-top: 15px;
    width: 100%;
    font-family: Oswald;
    font-size: 18px;
}

.feedbackform
{
    margin-top: 15px;
}

#feedback {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    margin: 5px 15px;
    border-radius: 5px;
    font-family: Oswald;
}
#feedback_comment{
    border: 1px solid #ccc;
    height: 150px;
    width: 100%;
    padding: 10px;
    margin: 5px 15px;
    border-radius: 5px;
    font-family: Oswald;
}
.send {   
    width:100%;
    background-color: black;
    color: aliceblue;
    font-family: Oswald;
}

#arrow_right
{
    height: 96px;
    width: 150px;
    float: right;
    padding-left: 15px;
}

#arrow_down
{
    height: 150px;
    width: 96px;
    float: right;
    padding-left: 15px;
    display: none;
}


/*===========Страница FEEDBACK.HTML==============*/



/*===========MEDIA запросы==============*/
@media (max-width:767px)
{
    #feedback
    {
        margin-left: 0px;
    }
    #feedback_comment
    {
        margin-left: 0px;
    }
    .send
    {
        margin-left: 0px;
    }
    
    #timedate
    {
        display: none;
    }
    
    #arrow_right
    {
        display: none;
    }
    
    #arrow_down
    {
        display: block;
    }
}








