/*===========Шапка сайта====================*/
.title
{
    font-family: Oswald;
    font-size: 18px;
}
    span
    {
        color: white;
        background-color: #0096d6;
    }
.search_tbox
{
    margin-top: 20px;
}
.search_bt
{
    margin-top: 20px;
    height: 34px;
    width: 100%;
    font-family: Oswald;
    background-color: #393a3d;
    border: none;
    color: white;
}
.search_bt:hover
{
    background-color: cadetblue;
    color: white;
    
    -webkit-transition: all 0.5s ease;;
      -moz-transition: all 0.5s ease;;
      -o-transition: all 0.5s ease;;
      transition: all 0.5s ease;
}
.time-date
{
    font-family: Oswald;
    font-size: 22px;
    text-align: right;
}
.time-date #timedate
{
    margin-top: 20px;
    margin-bottom: 0px;
}

input.text
{
    width: 100%;
    padding: 5px 10px;
    font-family: Oswald Light;
}

#timedate
{
    font-family: Oswald Light;
}

/*===========Шапка сайта====================*/




/*/===========Навигация по сайту============*/
nav
{
    background-color: #393a3d;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
ul.list-inline a
    {
        background-color: #393a3d;
        display: inline-block;
        font-family: Oswald;
        text-transform: uppercase;
        padding: 15px 40px;
        color: #fff;
        font-size: 16px;
    }

ul.list-inline
    {
        margin-bottom: 0;
    }
ul.list-inline a:hover, a:focus, a:active /*Наведение на кнопку навигации*/
{
    text-decoration: none;
    color: whitesmoke;
    background-color: #db0048;
        
      -webkit-transition: all 0.5s ease;;
      -moz-transition: all 0.5s ease;;
      -o-transition: all 0.5s ease;;
      transition: all 0.5s ease;
}

#lang
{
    float: right;
}
/*===========Навигация по сайту============*/






/*===========Главная страница MAIN.html*==============*/
.weather
{
    height: 120px;
    width: 100%;
    border: 1px solid black;
    margin-top: 15px;
}
.map
{
    height: 350px;
    width: 100%;
    background-color: chocolate;
    margin-top: 15px;
}

footer
{
    background-color: #393a3d;
    height: 52px;
    width: 100%;
    margin-top: 202px;
}
footer h4
{
    color: aliceblue;
}
/*===========Главная страница MAIN.html*==============*/




/*===========Блок для теста вывода погоды==============*/
/*
.wblock
{
    width: 145px;
    border: 1px solid black;
    height: 120px;
}
*/

/*===========Блок для теста вывода погоды==============*/










